<!DOCTYPE html>
<html lang="en">
    
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="../../../../favicon.ico" />

        <title>WishKids</title>

        <!-- add icon link -->

    <link rel="icon" href="forest.png" type="image/icon type" />


        <!-- Bootstrap core CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />

        <!-- Custom styles for this template -->
        <link href="cover.css" rel="stylesheet" />

        
    </head>

    <body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <img id="brand-logo" class="masthead-brand" src="forest.png" alt="">
                    <h3 class="masthead-brand">WishKids</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="#">HOME</a>
                        <a class="nav-link" href="#">VIDEOS</a>
                        <a class="nav-link" href="#">PRODUCTS</a>
                        <a class="nav-link" href="#">ABOUT US</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading">HELLO WishKids</h1>
                <p class="lead">
                   We are here to protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss.
                </p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                    
                </p>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>
                        Copyright &copy; 2021 EcoWish-WishKids&#174;
                        <a href="https://getbootstrap.com/">Facebook</a>, by
                        <a href="https://twitter.com/mdo">Instragram</a>.
                    </p>
                </div>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script>
            window.jQuery ||
                document.write(
                    '<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>'
                );
        </script>
        <script src="../../../../assets/js/vendor/popper.min.js"></script>
        <script src="../../../../dist/js/bootstrap.min.js"></script>
    </body>
</html>
