@import url("https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300;400;500&family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap");
:root {
    --overlay-color: rgba(1, 255, 65, 0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
    background-color: transparent;
}
body {
    overflow-x: hidden;
}

/*Logo Glow effect===================================================*/
.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(252, 252, 252, 0.8));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.shadowfilter:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(1, 255, 65, 0.8));
}
/*====================================================================*/

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    transition: 1s;
    z-index: 100;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggle {
    width: 50px;
    height: 50px;
    background: transparent;
    filter: invert(1);
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
}

.menu-toggle span {
    position: absolute;
    display: block;
    height: 4px;
    background: #262626;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    border-radius: 2px;
    z-index: 1;
}

.menu-toggle span:nth-child(1) {
    top: 30%;
}

.menu-toggle span:nth-child(3) {
    top: 70%;
}

.menu-toggle.active span:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    filter: invert(1);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    filter: invert(1);
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 50px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 25px;
    width: 400px;
}
nav.active {
    right: 50px;
}
nav ul {
    margin: 0;
    padding: 0;
    background: transparent;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: green;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
    transform: rotate(15deg);
}

.logo {
    cursor: pointer;
}

.text {
    position: relative;
    z-index: 1;
    width: 60vh;
    padding-top: 100px;
    margin-left: 0;
}

.text h2 {
    font-size: 4em;
    font-weight: 600;
    color: #fdfdfde7;
    opacity: 75%;
    font-family: "ZCOOL KuaiLe", sans-serif;
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.05px;
}
.text p {
    font-size: 1.3em;
    text-align: justify;
    margin: 20px 0;
    font-weight: 300;
    opacity: 90%;
    max-width: 600px;
    color: rgba(255, 255, 255, 0.671);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    width: 500px;
    padding: 20px;
    border-radius: 30px;
}
.a1 {
    display: inline-block;
    font-size: 1.5em;

    padding: 3px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.15);
}
.a2 {
    display: inline-block;
    font-size: 1.5em;

    padding: 3px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    margin: 10px;
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.15);
}
.a3 {
    display: inline-block;
    font-size: 1.5em;

    padding: 3px 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
    letter-spacing: 1.5px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.15);
}

.text a:hover {
    background: #fff;
    color: #111;
    font-style: italic;
    font-weight: bold;
}
.social {
    position: absolute;
    bottom: 100px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: o.01s;
}

.social li a:hover {
    transform: scale(2) translateY(-15px);
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.8;
    z-index: -1;
    background-attachment: fixed;
}

@media (max-width: 798px) {
    .showcase,
    .showcase header {
        padding: 40px
    }
    .text h2 {
        font-size: 2.5em;
    }
    .text p {
        font-size: 1em;
        width: 250px;
    }
    .a1,
    .a2,.a3 {
        width: 90px;
        font-size: 15px;
        text-align: center;
        padding-left: 3px;
        padding-right: 3px;
        
    }
    .showcase{
        overflow-x: hidden;
    }
 
    nav {
        position: absolute;
        top: 0;
        right: -110%;
        height: 50px;
        transition: 0.5s;
    }
    nav.active {
        right: -30px;
    
    }
    nav ul {
        margin: 0;
        padding: 0;
        background: transparent;
        display: flex;
    }
    nav ul li {
        list-style: none;
    }
    nav ul li a {
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        transition: 0.5s;
    }
    .container {
        width: 400px;
        padding-left: 20px;
        padding-right: 10px;
    }
    .formbg {
        height: 100vh;
        width: 100vw;
        object-fit: fill;
        position: absolute;
        overflow-x: hidden;
    }
    .menu-toggle {
        left: 80%;
        position: fixed;
    }
    * {
       
        margin-bottom: -10px;   
    }
    .logo
    {
        padding-top: 15px
    }
}
/*============form section===========*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*for background image*/
.full-page{
    width: 100vw;
    height: 100vh;
    background-image: url(formbackground.jpg);
   object-fit: cover;
   background-size: 100% 100%;
    
    position: absolute;
}
/*for nav bar*/



#login-form{
    display: none;
}
.form-box{
    width: 380px;
    height: 450px;
    position: relative;
    margin: 10% auto;
    background-color: rgba(253, 253, 255, 0.1);
    padding: 10px;
    
    overflow: hidden;
    border-radius: 35px;
}
.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #0303021f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative; 
    color: #fff;
    font-size: 1.1em;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: rgba(63, 255, 4, 0.425);
    border-radius: 30px;
    transition: .5s;
    
    
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}
.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
  
}
.input-field{
    width: 100%;
    padding: 10px 0px 8px 0;
    margin: 5px 0 2px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(199, 198, 198);
    outline: none;
    background: transparent;
    color: #fff;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgba(47, 255, 0, 0.322);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1.1em;
}
.check-box{
    margin: 14px 10px 29px 2px;
}
.formsec span{
    color: rgb(255, 255, 255);
    font-size: 15px;
    bottom: 68px;
    position: absolute;

    opacity: 60%;
}
#login{
    left: 50px;
}
#login input{
    color: rgb(255, 255, 255);
    font-size: 20;
}
#register{
    left: 450px;
}
#register input{
    color: white;
    font-size: 20;
}
/*=====form finish=============*/
/*========scroll bar===*/

/* width */
/* width */
::-webkit-scrollbar {
    width: 10px;
    background: rgba(1, 51, 3, 0.918);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0);

    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0),
        rgba(255, 0, 0, 0),
        rgba(255, 0, 0, 0)
    );
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0),
        rgba(0, 209, 35, 1),
        rgba(255, 0, 0, 0)
    );
}

/*==========scrollbar finish========*/

/*==========Footer start============*/
.footer  {
    position:relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #52ac68;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: initial;
    object-position: bottom;
    z-index: 10000;
    margin-top: 100vh;
}
.footer:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #0a690e, transparent);


}
.formsec::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #004119, transparent);

    z-index: 1000;
}

.footer .foot-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer .foot-container .sec {
    margin-right: 30px;
}
.footer .foot-container .sec.aboutus {
    width: 40%;
}
.footer .foot-container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer .foot-container h2:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #195249;
}
.footer p {
    color: rgb(0, 0, 0);
}
.sci {
    margin-top: 20px;
    display: flex;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.sci li a:hover {
    background: transparent;
    transform: scale(1.95);
}
.sci li a .bx {
    color: #fff;
    font-size: 20px;
}
.quickLinks {
    position: relative;
    width: 25%;
}
.quickLinks ul li {
    list-style: none;
}
.quickLinks ul li a {
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 6px;
    display: inline-block;
}
.quickLinks ul li a:hover {
    color: rgba(4, 5, 4, 0.8);
    font-style: italic;
    transform: scale(1.15);
}
.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: rgb(10, 8, 8);
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span {
    color: rgb(0, 0, 0);
}
.contact .info li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.contact .info li a:hover {
    text-decoration: italic;
    transform: scale(1.15);
}
.srilanka {
    width: 36px;
    height: 24px;
}
.copyrightText {
    width: 100vw;
    background: #0a690e;
    padding: 8px 100px;
    text-align: center;
    
    border-radius: 35px;
    margin-top: 50px;
    position: relative ;
    
    
    
}
.copyrightText p{
    
    
    font-size: 10px;
    color: #fff;
    opacity: 55%;
    
    
    
}
@media (max-width: 798px) {
    .footer {
        padding: 40px;
    }
    .footer .foot-container {
        flex-direction: column;
    }
    .footer .foot-container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .footer .foot-container .sec.aboutus,
    .quickLinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
        height: 45px;
    }
    .copyrightText p {
        margin: 6px;
    }
    .form-box{
        width: 380px;
        height: 450px;
        position: relative;
        margin: 35% auto;
        background-color: rgba(253, 253, 255, 0.1);
        padding: 10px;
        
        overflow: hidden;
        border-radius: 50px;
    }
   .toggle-btn{
        
        
        position: relative;
        justify-content: center;
        font-size: 15px;
        margin: 1.5px;
        
    }
}

/*==========Footer finish============*/

@keyframes animate {
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #ffffff;
        text-shadow: none;
    }
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    90.1%,
    92% {
        color: #fff;
        text-shadow: 0 0 10px #11af03, 0 0 20px #11af03, 0 0 40px #11af03,
            0 0 80px #11af03, 0 0 160px #11af03;
    }
}

@keyframes animate2 {
    0%,
    100% {
        color: #195249;
        text-shadow: none;
    }
    0%,
    100% {
        color: #195249;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
            0 0 160px #fff, 0 0 320px #fff;
    }
}
