<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="icon" href="4.png" type="image/icon type" />
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body>
    <header id="header">
        <a href="#" class="logo"
        ><img src="4.png" alt="logo" class="shadowfilter"
            /></a>
            <ul>
                <li><a href="#" class="shadowfilter">Home</a></li>
                <li><a href="#" class="shadowfilter">Video</a></li>
                <li><a href="#" class="shadowfilter">Product</a></li>
                <li><a href="#" class="active shadowfilter">About</a></li>
                <li><a href="#" class="shadowfilter">Myprofile</a></li>
            </ul>
    </header>
        <section>
            <h2 id="text"><span> </span><br />we are</h2>
            <img src="bird1.png" id="bird1" />
            <img src="bird2.png" id="bird2" />
            <img src="forest.png" id="forest" />
            <a href="#sec" id="btn" class="shadowfilter">Scroll Down</a>
            <img src="rocks.png" id="rocks" />
            <img src="water.png" id="water" />
        </section>
        <div class="sec" id="sec">
            <h2>EcoWish Family</h2>
            <div class="cards">
                <div class="card card1">
                    <div class="container"> 
                     <img src="Mubarak.jpg"> 
                    </div>
                    <div class="details">
                        <h3>Mohamed Mubarak</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aliquid adipisci quia veniam maxime ea quas nobis eveniet cumque unde!</p>
                    </div>
                </div>
                <div class="card card2">
                    <div class="container"> 
                        <img src="Malshitha.jpg"> 
                    </div>
                    <div class="details">
                        <h3>Malshitha Rathnayake</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aliquid adipisci quia veniam maxime ea quas nobis eveniet cumque unde!</p>
                    </div>
                </div>
                <div class="card card3">
                    <div class="container"> 
                        <img src="Sachethana.jpg"> 
                    </div>
                    <div class="details">
                        <h3>Sachethana Ranasinghe</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aliquid adipisci quia veniam maxime ea quas nobis eveniet cumque unde!</p>
                    </div>
                </div>
                <div class="card card4">
                    <div class="container"> 
                        <img src="Dinuka.jpg"> 
                    </div>
                    <div class="details">
                        <h3>Dinuka Madushan</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aliquid adipisci quia veniam maxime ea quas nobis eveniet cumque unde!</p>
                    </div>
                </div>
                <div class="card card5">
                    <div class="container"> 
                        <img src="Mubarak.jpg"> 
                    </div>
                    <div class="details">
                        <h3>Imashi Piumika</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis aliquid adipisci quia veniam maxime ea quas nobis eveniet cumque unde!</p>
                    </div>
                </div>  
            </div>
        </div>
        <script>
            let text = document.getElementById("text");
            let bird1 = document.getElementById("bird1");
            let bird2 = document.getElementById("bird2");
            let btn = document.getElementById("btn");
            let rocks = document.getElementById("rocks");
            let forest = document.getElementById("forest");
            let water = document.getElementById("water");
            let header = document.getElementById("header");

            window.addEventListener("scroll", function () {
                let value = window.scrollY;

                text.style.top = 50 + value * -0.5 + "%";
                bird1.style.top = value * -1.5 + "px";
                bird1.style.left = value * 2 + "px";
                bird2.style.top = value * -1.5 + "px";
                bird2.style.left = value * -5 + "px";
                btn.style.marginTop = value * 1.5 + "px";
                rocks.style.top = value * -0.12 + "px";
                forest.style.top = value * 0.25 + "px";
            });
        </script>       
</body>
</html>
