@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(252, 252, 252, 0.8));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.shadowfilter:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(1, 255, 65, 0.8));
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#header .logo img {
    width: 48px;
}
#header ul {
    display: flex;
    justify-content: center;
}
#header ul li {
    list-style: none;
    margin-left: 20px;
}
#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #111;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}
#header ul li a:hover,
#header ul li a.active {
    background: rgba(5, 122, 34, 0.733);

    color: #fff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section #text {
    position: absolute;
    color: rgba(5, 122, 34, 0.733);
    font-size: 15vw;
    text-align: center;
    line-height: 0.55em;
    font-family: "Rancho", cursive;
    transform: translateY(-50%);
}
section #text span {
    font-size: 0.2em;
    letter-spacing: 2px;
    font-weight: 400px;
    font-family: "Poppins", sans-serif;
}
#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    color: #f1f1f1;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 10%;
    height: auto;
    background: #094b65;
    display: grid;
    place-items: center center;
}
.sec h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Benne', serif;
}

.sec .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    padding: 5% 10%;
    grid-gap:10%;
}
.sec .card{
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0 5% 10% 0 rgba(0,0,0,0.6)
}
.card:hover{
    transform: scale(0.9)
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.details{
    padding:2% 2% 3% 2%;
}
.details h3{
    color: #094b65;
    font-weight: 600;
    font-size:18px;
    margin: 5% 0 5% 0;
}
.details p{
    color: #094b65;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.link{
    display: flex;
}
.link a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 400px;
    padding: 6% 4%;
    border-radius: 30px;
    color: black;
}
.link a i{
    padding: 5px 0 5px 0;
    font-weight: 400;
    margin-left: 30%;
}
.link a i:hover{
    opacity: 0.6;
}


.footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #094b65;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: initial;
    object-position: bottom;
    z-index: 10000;
    margin-top: 0;
}
.footer:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #052735, transparent);
}
/*
.sec::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #20617a, transparent);
}*/

.footer .foot-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer .foot-container .footsec {
    margin-right: 30px;
}
.footer .foot-container .footsec.aboutus {
    width: 40%;
}
.footer .foot-container h2 {
    position: relative;
    color: #4090af;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer .foot-container h2:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #4090af;
}
.footer p {
    color: white;
}
.sci {
    margin-top: 20px;
    display: flex;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.sci li a:hover {
    background: transparent;
    transform: scale(1.95);
}
.sci li a .bx {
    color: #fff;
    font-size: 20px;
}
.quickLinks {
    position: relative;
    width: 25%;
}
.quickLinks ul li {
    list-style: none;
    font-size: 14px;
}
.quickLinks ul li a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 6px;
    display: inline-block;
}
.quickLinks ul li a:hover {
    color: rgba(255, 255, 255, 0.726);
    font-style: italic;
    transform: scale(1.15);
}
.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span {
    color: white;
}
.contact .info li a {
    color: white;
    text-decoration: none;
}
.contact .info li a:hover {
    text-decoration: italic;
    transform: scale(1.15);
}
.srilanka {
    width: 36px;
    height: 24px;
}
.copyrightText {
    width: 100vw;
    background: #094b65;
    padding: 8px 100px;
    text-align: center;

    border-radius: 35px;
    margin-top: 50px;
    position: relative;
}
.copyrightText p {
    font-size: 10px;
    color: #fff;
    opacity: 55%;
}