<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
    <div id="top_bar">
        <div style="width: 800px; margin-left:200px; font-size: 30px;text-shadow: 1px 1px 2px #000;">
            Wishkids&nbsp;&nbsp;<input type="text" id="search_box" placeholder="Search For Community">
        <img src="profile.jpg" style="width: 75px; float:right;">
        </div>
    </div>
    <div id="content">
        <div class="top">
           <div class="cover">
               <div id="profile"></div>
               <a href="#" id="change_cover"><img src="cam.jpg" id="cam"></a>
               <h2>Jane Smith</h2>
               <h4>(Web developer)</h4>
            </div>  
        </div>
    </div>
</body>
</html>