<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
    <div id="top_bar">
        <div style="width: 800px; margin-left:200px; font-size: 30px;text-shadow: 1px 1px 2px #000;">
            Wishkids&nbsp;&nbsp;<input type="text" id="search_box" placeholder="Search For Community">
        <img src="profile.jpg" style="width: 75px; float:right;">
        </div>
    </div>
    <div id="content">
        <div class="top">
           <div class="cover">
               <div id="profile"></div>
               <a href="#" id="change_cover"><img src="cam.jpg" id="cam"></a>
               <h2>Jane Smith</h2>
               <h4>(Web developer)</h4>
            </div>  
        </div>
        <center>
            <div id="nav">
                <ul>
                    <a href="index.html">Timeline</a>
                    <a href="#creative-post">My Post</a>
                    <a href="#">Community</a>
                    <a href="#">Badges</a>
                </ul>
            </div>
        </center>
        <div id="feed">
            <div id="community"><font size="+2" color="grey">Your Communities</font><hr>
                <div class="community_list">
                    <img src="community1.jpg" class="community_img"><br>
                    wild life
                    <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <hr>
                <div class="community_list">
                    <img src="community2.png" class="community_img"><br>
                    The Earth
                    <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <hr>
                <div class="community_list">
                    <img src="community3.jpg" class="community_img"><br>
                    Save Earth
                    <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <hr>
                <div class="community_list">
                    <img src="community4.jpg" class="community_img"><br>
                    Bio
                    <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div id="mid">
                <div id="posting">
                    <div style="padding: 5px; background-color: white;">
                        <textarea placeholder="Whats on your mind"></textarea>
                        <input id="post_button" type="submit" value="POST">
                    </div>
                </div>
                <div id="news_feed">
                    <div id="post_area">
                        <div class="post">
                            <img src="community1.jpg" style="width: 180px; height: 180px; margin-left: 20px; margin-top: 5px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="font-weight: bold; color: violet;">Wild Life.</div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, maxime eaque! Dolores consequatur deleniti quae, sint magni sapiente, vel ipsa quo et expedita quidem dignissimos blanditiis facilis nostrum reprehenderit illo!
                            <br><br>
                            <a href="#">Like</a> . <a href="#">Comment</a> . &nbsp;<span style="color:grey">june 10 2021</span>
                        </div>
                    </div>
                </div>
                <div id="news_feed">
                    <div id="post_area">
                        <div class="post">
                            <img src="community2.png" style="width: 180px; height: 180px; margin-left: 20px; margin-top: 5px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="font-weight: bold; color: violet;">The Earth.</div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, maxime eaque! Dolores consequatur deleniti quae, sint magni sapiente, vel ipsa quo et expedita quidem dignissimos blanditiis facilis nostrum reprehenderit illo!
                            <br><br>
                            <a href="#">Like</a> . <a href="#">Comment</a> . &nbsp;<span style="color:grey">june 11 2021</span>
                        </div>
                    </div>
                </div>
                <div id="news_feed">
                    <div id="post_area">
                        <div class="post">
                            <img src="community3.jpg" style="width: 230px; height: 180px; margin-left: 20px; margin-top: 5px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="font-weight: bold; color: violet;">Save Earth.</div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, maxime eaque! Dolores consequatur deleniti quae, sint magni sapiente, vel ipsa quo et expedita quidem dignissimos blanditiis facilis nostrum reprehenderit illo!
                            <br><br>
                            <a href="#">Like</a> . <a href="#">Comment</a> . &nbsp;<span style="color:grey">june 12 2021</span>
                        </div>
                    </div>
                </div>
                <div id="news_feed">
                    <div id="post_area">
                        <div class="post">
                            <img src="community4.jpg" style="width: 200px; height: 180px; margin-left: 20px; margin-top: 5px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="font-weight: bold; color: violet;">Bio.</div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, maxime eaque! Dolores consequatur deleniti quae, sint magni sapiente, vel ipsa quo et expedita quidem dignissimos blanditiis facilis nostrum reprehenderit illo!
                            <br><br>
                            <a href="#">Like</a> . <a href="#">Comment</a> . &nbsp;<span style="color:grey">june 13 2021</span>
                        </div>
                    </div>
                </div>
                <div id="news_feed">
                    <div id="post_area">
                        <div class="post">
                            <img src="community2.png" style="width: 180px; height: 180px; margin-left: 20px; margin-top: 5px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="font-weight: bold; color: violet;">The Earth.</div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, maxime eaque! Dolores consequatur deleniti quae, sint magni sapiente, vel ipsa quo et expedita quidem dignissimos blanditiis facilis nostrum reprehenderit illo!
                            <br><br>
                            <a href="#">Like</a> . <a href="#">Comment</a> . &nbsp;<span style="color:grey">june 11 2021</span>
                        </div>
                    </div>
                </div>
                <div id="news_feed">
                    <div id="post_area">
                        <div class="post">
                            <img src="community4.jpg" style="width: 200px; height: 180px; margin-left: 20px; margin-top: 5px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="font-weight: bold; color: violet;">Bio.</div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, maxime eaque! Dolores consequatur deleniti quae, sint magni sapiente, vel ipsa quo et expedita quidem dignissimos blanditiis facilis nostrum reprehenderit illo!
                            <br><br>
                            <a href="#">Like</a> . <a href="#">Comment</a> . &nbsp;<span style="color:grey">june 13 2021</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="creative-post"><font size="+2" color="grey">Creative Post</font><hr>
                   <div id="post">
                    <div id="my-post"></div>
                    <p style="color: navy; font-weight: bold;">Jane Smith</p>
                    <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                </div>
                <div id="people"><font size="+2" color="grey">Communities You may Know</font><hr>
                    <div id="people-list">  
                        <div id="you-know"></div>
                        <p style="color: navy; font-weight: bold;">Jane Smith</p>
                        <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur a Lorem ipsum dolor sit amet akdyhmxh hf consedipisicing elit.</p>
                    </div>
                    <hr>
                    <div id="people-list">
                        <div id="you-know"></div>
                        <p style="color: navy; font-weight: bold;">Jane Smith</p>
                        <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur  Lorem ipsum dolor sit amet akdyhmxh hf adipisicing elit.</p>
                    </div>
                    <hr>
                    <div id="people-list">  
                        <div id="you-know"></div>
                        <p style="color: navy; font-weight: bold;">Jane Smith</p>
                        <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur a Lorem ipsum dolor sit amet akdyhmxh hf consedipisicing elit.</p>
                    </div>
                    <hr>
                    <div id="people-list" class="stop-here">
                        <div id="you-know"></div>
                        <p style="color: navy; font-weight: bold;">Jane Smith</p>
                        <p style="color: rgb(26, 194, 20);">Lorem ipsum dolor sit amet consectetur  Lorem ipsum dolor sit amet akdyhmxh hf adipisicing elit.</p>
                    </div>
            
                </div>
            </div>
        </div>
    </div>
</body>
</html>