*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 26% 39% 35%;
}
.options-menu{
    width: 320px;
    border-right: 1px solid rgb(233, 229, 229);
    height: 760px;
}
.options-center{
    width: 75%;
    margin: 0 auto;
}
.logo{
    padding: 4% 0 4% 37%;
}
.logo i{
    font-size: 33px;
    color: #80a7ff;
}
.option{
    display: grid;
}
.option div a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    padding: 12px 8px;
    border-radius: 30px;
    color: black;
}
.option div{
    padding:2% 0 8% 30%;
}
.option div a i{
    padding: 0 18% 0 0;
    font-weight: 100;
}
.option div a:hover{
    color: #80a7ff;
    background: whitesmoke;
}
.option button{
    padding: 15px 80px;
    border-radius: 30px;
    outline: none;
    background: #80a7ff;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.option button:hover{
    background: #9ab7fc;
    transition: 0.1s;
}
