<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profilepage.css">
    <link rel="icon" href="4.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <!----------------option menu------------------------------------->
        <div class="options-menu">
            <div class="options-center">
                <div class="logo">
                   <a href="#"><img src="4.png"></img></a> 
                </div>
                <div class="option">
                    <div><a href="profilepage.html"><i class="fa fa-home"></i></a></div>
                    <div><a href=""><i class="fa fa-hashtag"></i></a></div>
                    <div><a href=""><i class="fa fa-bell"></i></a></div>
                    <div><a href="#profile"><i class="fa fa-user-o"></i></a></div>
                    <div><button>Post</button></div>
                </div>
            </div>
        </div>
        <!----------------end option menu------------------------------------->
       <!--------------------------------Profile Content menu---------------------------------------->
        <div class="content-menu">
            <div class="prefer" id="prefer">
                <span>
                    <a href="#prefer">Smith John</a>
                </span>
                <span>
                    <i class="fa fa-star-o"></i>
                </span>
            </div>
            <div class="profile">
                <div class="user-cover-img">
                    <img src="freepic.jpg">
                </div>
                <div class="user-img">
                    <img src="profile.jpg">
                    <button class="edit">Edit</button>
                </div>
                <div class="user-name">
                    <h3>Smith John</h3>
                    <p>@johnsmith</p>
                </div>
                <div class="bio">
                    Lorem ipsum dolor sit amet consectetur.<br>lorem ipsum<br><br>
                    <i class="fa fa-birthday-cake"><span>Born July 22, 2000</span></i><i class="fa fa-calendar"><span>Joined May 2021</span></i><br><br>
                    <span><b>10</b> Following</span><span><b>5</b> Followers</span>
                </div>
            </div>
        </div>
        <!---------------------------content menu end--------------------------------------------------------->

        <!----------------------trending menu------------------------------>
        <div class="trending-menu">
            <div class="trending-center">
                <div class="search">
                    <input type="search" placeholder="Search post">
                    <span><i class="fa fa-search"></i></span>
                </div>
                <div class="trending">
                    <div class="header">
                        <p>What's happening</p>
                    </div>
                    <div class="trends">
                        <!------------------each trend------------------------->
                        <div class="trend">
                            <div class="trend-msg">
                                <div class="trend-name">
                                    <p>Environment Day</p>
                                </div>
                                <div class="subject">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                                <div class="trend-with">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, earum?</p>
                                </div>    
                            </div>
                            <div class="trend-picture">
                                <img src="freepic.jpg" alt="environment">
                            </div>
                        </div>
                        <!--------------------end each trend-------------------------->
                        <!------------------each trend------------------------->
                        <div class="trend">
                            <div class="trend-msg">
                                <div class="trend-name">
                                    <p>Water day</p>
                                </div>
                                <div class="subject">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                                <div class="trend-with">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, earum?</p>
                                </div>    
                            </div>
                            <div class="trend-picture">
                                <img src="freepic.jpg" alt="environment">
                            </div>
                        </div>
                        <!--------------------end each trend-------------------------->
                        <!------------------each trend------------------------->
                        <div class="trend">
                            <div class="trend-msg">
                                <div class="trend-name">
                                    <p>environment Day</p>
                                </div>
                                <div class="subject">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                </div>
                                <div class="trend-with">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, earum?</p>
                                </div>    
                            </div>
                            <div class="trend-picture">
                                <img src="freepic.jpg" alt="environment">
                            </div>
                        </div>
                        <!--------------------end each trend-------------------------->
                       <div class="show-more">
                            <a href="#">Show More</a>
                        </div>   
                    </div>
                </div>
                <!-----------------------------Follow----------------->
                <div class="follow">
                    <div class="header">
                        <p>Who to follow</p>
                    </div>
                    <div class="persons">
                        <!-----------------Each person---------------->
                        <div class="person">
                            <div class="person-profile">
                                <img src="profile.jpg" alt="">
                            </div>
                            <div class="name">
                                <div class="main-name">
                                    <h3>Anne</h3>
                                </div>
                                <div class="username">
                                    <p>@anne</p>
                                </div>
                            </div>
                            <div class="send-follow-request">
                                <button>Follow</button>
                            </div>
                        </div>
                        <!----------End each person------------------>
                        <!-----------------Each person---------------->
                        <div class="person">
                            <div class="person-profile">
                                <img src="profile.jpg" alt="">
                            </div>
                            <div class="name">
                                <div class="main-name">
                                    <h3>Smith</h3>
                                </div>
                                <div class="username">
                                    <p>@smith</p>
                                </div>
                            </div>
                            <div class="send-follow-request">
                                <button>Follow</button>
                            </div>
                        </div>
                        <!----------End each person------------------>
                        <!-----------------Each person---------------->
                        <div class="person">
                            <div class="person-profile">
                                <img src="profile.jpg" alt="">
                            </div>
                            <div class="name">
                                <div class="main-name">
                                    <h3>John</h3>
                                </div>
                                <div class="username">
                                    <p>@john</p>
                                </div>
                            </div>
                            <div class="send-follow-request">
                                <button>Follow</button>
                            </div>
                        </div>
                        <!----------End each person------------------>
                    
                    </div>
                    <div class="show-more">
                        <a href="#">Show More</a>
                    </div>
                </div>
                <!-----------------------------end Follow----------------->
            </div>
        </div>
        <!---------End of trending---------------------->
    </div>
</body>
</html>