*{
    margin: 0;
    padding: 0;
}
body{
     background: rgb(53, 56, 55) ;
}

.text_r1{
    text-align: center !important;
}
.card_footer{
    background-color:rgb(91, 238, 123);
    text-decoration: none;
    color: rgb(20, 19, 19);
}


