*{
    margin: 0;
    padding: 0;
}
body{
     background:#2e8d ;
}

.text_r1{
    text-align: center !important;
}
.card_footer{
    background-color:white;
    text-decoration: none;
    color: black;
}


