<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>  wishkids </title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</head>

<body>
    <img id="home" src="4.png" width="4" height="4">

     
<div class="container">

    <div>
        <div class="heading"><h1 class="glow">WISHKIDS</h1></div>
    </div>
    
   

    <div class="video-container"> 

        <a href="web2.html">
        <div class="video">
            <video src="0.mp4"muted></video>
            <h5>Video Name here</h5>
        </div>
        
        </a>

        
        <div class="video">
            <video src="1.mp4"muted></video>
        </div>


        <div class="video">
            <video src="2.mp4"muted></video>
        </div>

        
        <div class="video">
            <video src="0.mp4"muted></video>
        </div>

        <div class="video">
            <video src="0.mp4"muted></video>
        </div>

        <div class="video">
            <video src="0.mp4"muted></video>
        </div>


        <div class="video">
            <video src="0.mp4"muted></video>
        </div>


        <div class="video">
            <video src="0.mp4"muted></video>
        </div>


        <div class="video">
            <video src=""muted></video>
           
        </div>

</div>

    
</body>
</html>









