<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishkids videdo gallery</title>

   
    <link rel="stylesheet" href="newindex.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="venobox.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="logo">
    <a href="index.html"
        ><img
            src="4.png"
            alt="logo"
            height="70px"
            class="shadowfilter logoc"
    /></a>
</div>
    <div class="text">
        <h2>WishKids Video Gallery</h2>
    </div>
 
    <div class="album py-5 bg-transparent">
        <div class="container">

          <div class="row">
            <div class="col-md-4 bg-transparent rounded-3">
              <div class="card mb-4 box-shadow bg-transparent rounded-3"  id="blur1">
                <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=X2YgM1Zw4_E&ab_channel=SmileandLearn-English"><img class="card-img-top" src="video9.jpg" alt="Card image cap"></a>
                <div class="card-body bg-transparent rounded-3" id="text1">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-transparent">
              <div class="card mb-4 box-shadow bg-transparent"  id="blur2">
                <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=Fkwicyiv1co&t=97s&ab_channel=RoyaltyFreeStockFootage"><img class="card-img-top" src="video2.jpg" alt="Card image cap"></a>
                <div class="card-body bg-transparent" id="text2">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-transparent">
                <div class="card mb-4 box-shadow bg-transparent" id="blur3">
                  <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=TAb9v808u1U&t=59s&ab_channel=yodiinsigne"><img class="card-img-top" src="video3.jpg" alt="Card image cap"></a>
                  <div class="card-body bg-transparent" id="text3">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
           

              <div class="col-md-4 bg-transparent">
                <div class="card mb-4 box-shadow bg-transparent" id="blur4">
                  <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=muczNvx9fgg&t=2s&ab_channel=ChristianSommer"><img class="card-img-top" src="video4.jpg" alt="Card image cap"></a>
                  <div class="card-body bg-transparent" id="text4">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-4 bg-transparent">
              <div class="card mb-4 box-shadow bg-transparent" id="blur5">
                <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=f-Sdk3Jjp3I&t=22s&ab_channel=DigitalTravelVideos">  <img class="card-img-top" src="video5.jpg" alt="Card image cap"></a>
                <div class="card-body bg-transparent" id="text5">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-transparent">
              <div class="card mb-4 box-shadow bg-transparent" id="blur6">
                <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=B0caLJNKZEU&t=1s&ab_channel=NextLevelHQ">  <img class="card-img-top" src="video6.jpg" alt="Card image cap"></a>
                <div class="card-body bg-transparent" id="text6">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 bg-transparent">
              <div class="card mb-4 box-shadow bg-transparent" id="blur7">
                <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=Ql23uQza7Qo&t=7s&ab_channel=tbhstudying">  <img class="card-img-top" src="video7.jpg" alt="Card image cap"></a>
                <div class="card-body bg-transparent" id="text7">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-transparent">
                <div class="card mb-4 box-shadow bg-transparent" id="blur8">
                  <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=lq4ivmk9llM&ab_channel=CHANNELPMI-FREESTOCKVIDEO"><img class="card-img-top" src="video8.jpg" alt="Card image cap"></a>
                  <div class="card-body bg-transparent" id="text8">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-4 bg-transparent">
              <div class="card mb-4 box-shadow bg-transparent" id="blur9">
                <a class="venobox" data-gall="myGallery" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=pswdTJ59fdQ&t=4s&ab_channel=GKorb">  <img class="card-img-top" src="video1.jpg" alt="Card image cap"></a>
                <div class="card-body bg-transparent" id="text9">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    <script type="text/javascript" src="jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="venobox.min.js"></script>
    <script>
    
    $(document).ready(function(){
        $('.venobox').venobox(); 
    });
    </script>
</body>
</html>