<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  video  </title>
    <link rel="stylesheet" href="index.css">
    <title>  wishkids </title>
   


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
    <div class="row text_r1">
        <div class="col ">
            
        </div>
        <div class="col">
            <h1> video name here</h1>
        </div>
        <div class="col">
           
        </div>
    </div>
    <div class="row color">
        <div class="col ">
            <video width="100%" height="100%" controls>
                <source src="ex1.mp4" type="video/mp4">
                
              Your browser does not support the video tag.
            </video>
        </div>

  

       
    </div>
    </div>
</body>
</html>