@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*for background image*/
.full-page{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(wild.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*for nav bar*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
    
}
nav ul li button{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}
nav ul li button:hover{
    color: yellowgreen;
    font-weight: bold;
}
#login-form{
    display: none;
}
.form-box{
    width: 380px;
    height: 450px;
    position: relative;
    margin: 2% auto;
    background-color: rgba(253, 253, 255, 0.5);
    padding: 10px;
    overflow: hidden;
    border-radius: 35px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #0303021f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative; 
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: yellowgreen;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0px 8px 0;
    margin: 5px 0 2px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: yellowgreen;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 14px 10px 32px 0;
}
span{
    color: rgb(104, 105, 88);
    font-size: 15px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#login input{
    color: black;
    font-size: 20;
}